.form-content {
    margin-top: 45vh; 
    text-align: center;
}

input[type=text] {
    padding: 0.6em;
    font-size: 17px;
    outline: none;
    margin-bottom: 10px;
}
  
input[type=password] {
    padding: 0.6em;
    font-size: 17px;
    outline: none;
    margin-bottom: 10px;
}
  
input[type=submit] {
    background: #fff;
    padding: 0.6em;
    color: #fff;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    background: #616161;
    margin-left: 75px;
    padding: 8px 14px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
}